<table id="library">
    <tr>
        <th>Length</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>#</th>
    </tr>
    <tr ng-repeat="track in tracks | orderBy:['artist','album','tracknumber']">
        <td>{{track.duration | formattime }}</td>
        <td>{{track.title}}</td>
        <td>{{track.artist}}</td>
        <td>{{track.album}}</td>
        <td>{{track.tracknumber}}</td>
    </tr>
</div>
