<!doctype html>
<html lang="en" ng-app="biribiri">
<head>
  <meta charset="utf-8">
  <title>Biribiri AutoDJ</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <aside class="sidebar">
    <img src="img/biribiri.jpg" alt="Enjoy the music, 'kay?" />
    <div>
        Show { <a href="#/library">library</a> | <a href="#/history">history</a> }
    </div>

    <!-- This is disabled server-side since it's broken.
    <div ng-controller="PlaybackCtrl">
        <audio ng-src="{{endpoint}}" controls="yes"></audio>
    </div> -->

    <div id="requestform" ng-controller="RequestFormCtrl">
        <form>
            Make a request: <br />
            Artist <input ng-model="artist" /> and/or <br />
            Album <input ng-model="album" /><br />
            <!-- Track-based request seems broken right now.
            Track <input ng-model="track" disabled="disabled"/><br /> -->
            <input type="submit" ng-click="submit_request()" value="Play it for me maybe?"></input>

            <div ng-show="submitted" class="good">Got it! Stay tuned.~</div>
            <div ng-show="error" class="problem">{{error_message}}</div>
        </form>
    </div>
  </aside>

  <div id="body">
      <div id="nowplaying" ng-controller="NowPlayingCtrl">
          <div ng-show="troubles" class="problem">
              Having trouble finding out what's on.
              Trying again in {{retryTimer}} seconds.
              <button ng-click="refresh()" >Try again now</button>
          </div>
          <h2>Now playing</h2>
          <strong>{{title}}</strong> by <strong>{{artist}}</strong>
          ({{ elapsed | formattime }}/{{ duration | formattime }})
      </div>

      <div ng-view></div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
