/* app css stylesheet */

div { 
    padding: .5em;
}
.sidebar {
    float: right;
    width: 25em;
    background-color: #ccc;
    padding: .5em;
}
.sidebar > img {
    width: 100%;
}

#requestform {
    background-color: #bbb;
    padding: .5em;
}

.problem {
    background-color: #fcc;
}
.good {
    background-color: #cfc;
}

#nowplaying {
    border-bottom: 1px solid black;
    padding-bottom: .5em;
}

#body {
    /* sidebar clearance */
    margin-right: 26em;
}

#library {
    width: 100%;
}
#library tr:nth-child(odd) {
    background-color: #ddf;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
